<input type="hidden" id="builder-key" data-bind="value: builderKey" />
<div class="admin__field" visible="visible">
    <span if="$data.label" class="admin__field-label" translate="$data.label"></span>
    <div class="admin__field-control">
        <div class="menu-builder">
            <p>Testing something</p>
            <button id="open-modal" type="button" class="action-default" data-bind="click: openModal">
                <span translate="'Add Item'"></span>
            </button>
    </div>
    </div>
</div>
