<style>
    * {
        box-sizing: border-box;
    }

    .menu-builder {
        display: flex;
        justify-content: space-between;

        &>button {
            height: calc(20px + 1em * 1.36);
            background-color: #eb5202;
            color: white;
            font-weight: bold;
            border: none;

            &:focus-within, &:hover {
                background-color: #c1500f;
                color: white;
            }
        }
    }

    #menu-builder-items {
        display: flex;
        flex-direction: column;
        column-gap: 8px;

        div.item-container, details, details > summary {
            width: max-content;
            position: relative;
        }

        div.item-container, details {
            &:not(:first-child) {
                margin-top: 8px;
            }
        }

        details > summary span, div.item-container span {
            padding: 10px 20px;
            background-color: #f9f9f9;
            min-width: 150px;
            border: 1px solid #d9d9d9;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            font-weight: 600;
            color: #303030;
        }

        div.item-container {
            display: flex;
            gap: 8px;
        }

        details > * {
            margin-left: 30px;
        }

        details > button {
            margin: 0 auto;
            display: flex;
            gap: 4px;
            align-items: center;
            border: none;
            background-color: transparent;
            font-weight: bold;

            &::after {
                content: '+';
            }
        }

        details > summary {
            margin-left: 0;
            display: flex;
            align-items: center;
            gap: 8px;

            & span::after {
                content: '';
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #555;
            }
        }

        details[open] > summary span {
            &::after {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #555;
                border-top: none;
            }
        }

        .ctx-menu-btn {
            border: none;
            background-color: transparent;
            padding: 0;
            font-weight: bold;
            text-align: center;
        }

        .ctx-menu-container {
            display: flex;
            align-items: center;
            position: relative;
        }

        ul.item-ctx-menu {
            position: absolute;
            z-index: 2;
            list-style: none;
            left: 4px;
            top: 75%;
            background-color: #f9f9f9;
            border: 1px solid #d9d9d9;
            display: none;

            &.open {
                display: flex;
                flex-direction: column;
            }

            button {
                border: none;
                text-wrap: nowrap;
                background-color: transparent;
                width: 100%;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
</style>
<div class="admin__field" visible="visible">
    <span if="$data.label" class="admin__field-label" translate="$data.label"></span>
    <div class="admin__field-control">
        <div class="menu-builder">
            <div id="menu-builder-items" data-bind="event: { itemadded: refreshItems }"></div>
            <button id="open-modal" type="button" class="action-default" onclick="openItemModal()">
                <span translate="'Add Item'"></span>
            </button>
        </div>
    </div>
</div>
