<style>
    #menu-builder-items p > p {
        margin-left: 15px;
    }
</style>
<div class="admin__field" visible="visible">
    <span if="$data.label" class="admin__field-label" translate="$data.label"></span>
    <div class="admin__field-control">
        <div class="menu-builder">
            <div id="menu-builder-items" data-bind="event: { itemadded: refreshItems }"></div>
            <button id="open-modal" type="button" class="action-default" data-bind="click: openModal">
                <span translate="'Add Item'"></span>
            </button>
        </div>
    </div>
</div>
